@model List<BusinessObjects.Models.JobAward>

@foreach (var item in Model)
{
    var json = Html.Raw(Json.Serialize(item));
    <div class="card p-0 mt-4 mb-2 cardWrapper">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <span class="card-text row">
                        <div class="col-md-6">
                            <h5 class="title-text">@item.AwardDesc</h5>
                            <p class="text-muted">@item.AwardedMonth-@item.AwardedYear</p>
                        </div>
                        <div class="col-md-6">
                            <div class="card-Btn">
                                <button type="button" class="btn custombtn w-auto ms-2">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                         viewBox="0 0 24 24" height="1em" width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z">
                                        </path>
                                    </svg>
                                </button>
                                <button type="button" data-item='@json' class="btnEditPosition btn customBtn-light w-auto ms-1">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0"
                                         viewBox="0 0 24 24" height="1em" width="1em"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z">
                                        </path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        @*<div class="" id="_@item.CompanyId">
                    @await Html.PartialAsync("_positions", item.Positions)
                    </div>*@
                       @* <button type="button" id="btnSaveAward" data-company-id="@item.JobAwardId" class="btn btn-secondary custombtn w-auto">Add a Job in @item.AwardDesc</button>*@
                    </span>
                </div>
            </div>
        </div>
    </div>
}
