<div class="formWrapper">

    <form class="needs-validation formSpace" id="contactForm" novalidate>
        <div class="alignContent">
        <h1>Contact Information</h1>
        <button type="button" class="btn custombtn customBtn-light w-auto ms-2" data-bs-toggle="modal"
                data-bs-target="#modalExample">
            Example
        </button>
        </div>
        <div class="row mt-3">
            <input id="hdfLastSectionVisitedId" name="LastSectionVisitedId" value="15" type="hidden" />
            <input id="hdfcontactInfoId" name="ContactInfoId"  type="hidden" />
            <div class="col-md-6">
                <div class="form-group">
                    <label for="validationCustom01">First Name<span class="text-danger">*</span></label>
                    <input type="text" class="form-control" maxlength="50" id="validationCustom01"
                           name="FirstName" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="validationCustom02">Last Name <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" maxlength="50" id="validationCustom02" name="LastName"
                           required>
                </div>
            </div>
            <div class="col-md-12">
            <div class="form-group">
                    <label for="Address">Address <span class="text-danger">*</span></label>
                <input name="Address1" id="Address" maxlength="50" type="text" class="form-control" required>
            </div>
            <div class="form-group">
                <input name="Address2" id="Address" maxlength="50" type="text" class="form-control">
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                    <label for="City" class="">City <span class="text-danger">*</span></label>
                <input name="City" id="City" type="text" class="form-control" required>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                    <label for="State" class="">State <span class="text-danger">*</span></label>
                    <select name="StateAbbr" id="ddlStateAbbr" class="form-control" required>
                   
                </select>
            </div>
            </div>
            <div class="col-md-4">
            <div class="form-group">
                    <label for="Code" class="">Zip Code <span class="text-danger">*</span></label>
                <input name="ZipCode" id="Code" maxlength="5" type="text" class="form-control" required>
            </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="phone" class="">
                        Cell Phone (preferred) or Home
                        Phone <span class="text-danger">*</span>
                    </label>
                    <button type="button" class="btn btn-outline-primary btn-sm questionBtn"
                            data-bs-toggle="modal" data-bs-target="#PhoneModal">
                        ?
                    </button>
                    <input name="Phone" id="phone" maxlength="12" placeholder="xxx-xxx-xxxx" type="text"
                           class="form-control" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="email">
                        Email <span class="text-danger">*</span>
                    </label>
                    <button type="button" class="btn btn-outline-primary btn-sm questionBtn"
                            data-bs-toggle="modal" data-bs-target="#EmailModal">
                        ?
                    </button>
                    <input type="email" class="form-control" id="email" name="Email" required>
                </div>
            </div>
        </div>
        <div class="custom-checkbox custom-control mb-2">
            <input name="IsComplete" type="checkbox" id="customCheckBox"
                   class="custom-control-input">
            <label class="custom-control-label" for="customCheckBox">
         I am finished with this section
            </label>
        </div>
        <div class="formbtn-Wrapper">
            <button type="button" data-item="contactForm" id="btnSaveContactInfo" class="btn btn-primary custombtn w-auto">
                Save and
                Continue
            </button>
        </div>
    </form>
</div>
 <div class="modal fade" id="PhoneModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>A phone number is next (one phone number, not 2 or 3 numbers….). Best choices are your cell
                        number
                        if you are applying externally and your work phone number if you are applying internally -that
                        way
                        you can control the messages and when you retrieve them.</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalClose w-auto"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="EmailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <p>If you have a really creative email address, your resume is not the time to have
                        ‘chrisrockerdude@aol.com’ shared with the world. First name (first initial).last name  whatever
                        search engine you want to use is the best format. Again, if you are applying internally, use
                        your work email address to show the manager that you already work there.
                    </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalClose w-auto"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <h5>Bob Smith</h5>
                    <p>123 N. First Street</p>
                    <p>New Town, State 00000</p>
                    <p>(555) 555-1212</p>
                    <p class="m-0">Bob.smith@searchengine.com </p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalClose w-auto"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
    <script src="~/scripts/contactinfo/contactinfo.js"></script>


    <script>
        $(document).ready(function () {
           
            setTimeout(function () { $("#customCheckBox").prop("disabled", false) }, 2000)  
        })
    </script>

    }