<div class="formWrapper">

    <form class="needs-validation formSpace" id="objectiveForm" novalidate>
        <div class="alignContent">
        <h1>Objective or Professional Summary 
           </h1>
        <button type="button" class="btn btn-outline-primary btn-sm questionBtn" data-bs-toggle="modal" data-bs-target="#SummaryModal">?</button>
        <button type="button" class="btn custombtn customBtn-light w-auto ms-2" data-bs-toggle="modal"
                data-bs-target="#modalExample">
            Example
        </button>
        </div>
        <p class="mt-3">
            If you have more than five years of professional work experience, you could consider
            creating a 'Professional Summary' instead of an 'Objective'. Please note the number of years
            you have had professional work experience:
        </p>
        <input id="hdfLastSectionVisitedId" name="LastSectionVisitedId" value="20" type="hidden" />
        <input id="hdfobjectiveSummaryId" class="isoptOut" name="ObjectiveSummaryId" type="hidden" />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="State">Objective Type <span class="text-danger">*</span></label>
                    <select name="ObjectiveType" id="ddlObjectiveType" class="form-control" required>
                        <option value="" selected="">--Select Objective-</option>
                        <option value="Objective">Objective</option>
                        <option value="Professional Summary">Professional Summary</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="State">Experience <span class="text-danger">*</span></label>
                    <select id="ddlExperienceOfYears" name="YearsOfExperienceId" class="form-control" required>
                       
                    </select>
                </div>
            </div>
        </div>
        <h1>Skills <span class="text-danger">*</span></h1>
        <p>
            What skills do you have that would be most useful for the job or industry that you are
            pursuing?
        </p>
        <p id="checkboxlimitMessage" class="danger-text">
            Choose 2-3 skills you have for use in your Objective statement or
            Professional Summary and that you can elaborate on in your Work Experience and/or
            Organization Experience sections.
        </p>
        <div class="checkbox-wrap">
            <h1 class="text-start mb-2">Checkboxes</h1>
            <div class="row ">
               
                <div class="col-sm-12 cb-row checkboxFields">
                </div>
            </div>
            <div class="form-group mt-2">
                <label for="State">
                    What type of position are you using this resume for
                    currently?
                    <span class="text-danger">*</span>
                </label>
                    <select id="ddlPositionType" name="PositionTypeId" class="form-control" required>
                    
                </select>
            </div>
            <div class="row mt-4 listForm">
            <div class="form-group mt-2">
                <label for="State">
                    What type of company or industry are you using this resume for
                    currently?
                        <span class="text-danger">*</span>
                </label>
                    <input name="CurrentCompanyType" id="CurrentCompanyType" type="text" class="form-control" value="" required>
            </div>
                @*<div class="form-group mt-2">
                    <label for="FieldsOfExperience">
                        What Fields you are experienced in?
                        <span class="text-danger">*</span>
                    </label>
                    <input name="FieldsOfExperience" id="FieldsOfExperience" type="text" class="form-control" value="" required>
                </div>*@
            <div class="form-group mt-2">
                <label for="State">
                        What type of positive impact do you want to make at a company?
                        <span class="text-danger">*</span>
                </label>
                    <select name="ChangeTypeId" id="ddlChangeTypeList" class="form-control" required>
                </select>
            </div>
        </div>
        </div>
        <div class="custom-checkbox custom-control mb-2">
            <input type="checkbox"
                   class="custom-control-input" id="ckbIsComplete" name="IsComplete">
            <label class="custom-control-label" for="ckbIsComplete">
              I am finished with this section
            </label>
        </div>
        <div class="formbtn-Wrapper">
            <button type="button" id="btnSaveObjectives" class="btn btn-primary custombtn w-auto">
                Save and
                Continue
            </button>
        </div>
    </form>
</div>
<div class="modal fade" id="SummaryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p>
                    Hiring personnel know that your Objective is ‘to get a job’ or ‘further my career opportunities’
                    – what they really want to know is, “what’s in it for ME” the employer to invite you to
                    interview? What skills are the employer looking for that you have? What position are you
                    applying for specifically?
                </p>
                <p>
                    Employers know why you are sending them a resume but an Objective or Professional
                    (Executive,Managerial etc.) Summary tells them a few reasons to keep reading and find out more
                    about the skills you listed; where did you get them and what impact did you make with them?
                </p>
                <p>
                    Another way to show what skills make you ‘stand out’ as a candidate is to put a Professional
                    Summary. Don’t put both an Objective AND a Professional Summary. In most cases, a Professional
                    Summary will be for candidates who have been in more than one position
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalClose w-auto"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h5>Objective</h5>
                <p>
                    To maximize productivity and revenue as a sales representative in a retail company by using my
                    communication, organization, and customer service skills.
                </p>
                <h5>Professional Summary</h5>
                <p>
                    Corporate manager with over ten years of experience in sports marketing, sales, product branding,
                    client partnership, and business development, with skills to enable ABC Organization to exceed
                    marketing and business growth goals.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary modalClose w-auto"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Schoo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Objective</h1>
                <p>
                    To maximize productivity and revenue as a sales representative in a retail company by using my
                    communication, organization, and customer service skills.
                </p>
                <h1>Professional Summary</h1>
                <p>
                    Corporate manager with over ten years of experience in sports marketing, sales, product branding,
                    client partnership, and business development, with skills to enable ABC Organization to exceed
                    marketing and business growth goals.
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary custombtn w-auto"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/scripts/objectivesummary/objectivesummary.js"></script>

    <script>
        $(document).ready(function () {

            setTimeout(function () { $("#ckbIsComplete").prop("disabled", false) }, 1000)
        })
    </script>
}