<div class="formWrapper">
    <h1>Overseas Studies</h1>
    <button type="button" class="mb-2 btn btn-outline-primary btn-sm" data-bs-toggle="modal"
            data-bs-target="#modalExample">
        Example
    </button>

    <div class="mb-3 form-check">
        <label class="form-check-label">
            <input type="checkbox" id="cbNotApply"
                   class="form-check-input"> This section does not apply to me.
        </label>
    </div>

    <p>
        If you have traveled to study in your major specialization or in the language of that area,
        include location, main areas of class content, dates of enrollment, and other information
        which contributed to your experience (for example: staying with a family that did not use
        English as their primary language.)
    </p>
    <p class="danger-text">
        <i>
            You currently have no Overseas Studies listed. Click the Add button below to add
            one.
        </i>
    </p>
    <div id="DivSection">

    </div>
    <button type="button" class="btn btn-primary btn-sm custombtn w-auto mt-2" data-bs-toggle="modal"
            data-bs-target="#SummaryModal">
        Add an Overseas Study Experience
    </button>

    <hr>
    <form class="needs-validation" novalidate>
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" id="cbkFinished"
                       class="form-check-input"> I am finished with this section
            </label>
        </div>
        <div class="formbtn-Wrapper">
            <button type="button" id="btnSaveAndContinue" class="btn btn-primary custombtn w-auto mt-2">
                Save and
                Continue
            </button>
        </div>
    </form>
</div>
<div class="modal fade" id="SummaryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form id="OverseasForm" class="needs-validation" novalidate>
                    <input type="hidden" name="OverseasStudyId" id="hdfOverseasStudyId" />
                    <input type="hidden" name="LastSectionVisitedId" id="hdfLastSectionVisitedId" value="30" />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group mb-2">
                                <label for="validationCustom01">College/University</label>
                                <input type="text" class="form-control" id="txtcollegeName"
                                       name="CollegeName" required>
                            </div>
                            <div class="form-group mb-2">
                                <label for="City" class="">City</label>
                                <input name="City" id="City" type="text" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="t" class="">Country</label>
                                <select name="CountryId"
                                        id="ddlCountry" class="form-control">
                                </select>
                            </div>
                            <div class="form-group mb-2">
                                <label for="received" class="">Date Started</label>
                                <div class="row">
                                    <input class="form-control" id="txtStartDate" name="StartedDate" type="date" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input id="exampleCustomSwitch" name="customSwitch" label="Currently In"
                                                   type="checkbox" class="form-check-input"> Currently In
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mb-2">
                                <label for="received" class="">Date Ended</label>
                                <div class="row">
                                    <input class="form-control" id="txtEndDate" name="EndedDate" type="date" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="t" class="">Main Classes Completed</label>
                                <input name="ClassesCompleted" id="txtClassSectionCompleted" type="text" class="form-control" value="">
                            </div>

                            <fieldset id="cbDiv" class="form-group">
                                <legend id="livingSituationSection">Living Situation</legend>
                            </fieldset>
                            <div class="form-group">
                                <label for="t" class="">
                                    Other information that makes this
                                    experience unique
                                </label><input name="OtherInfo" id="txtOtherInfo" type="text" class="form-control"
                                               value="">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnClose" class="btn btn-secondary custombtn w-auto"
                        data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="btnSaveOverseasStudy" class="btn btn-secondary custombtn w-auto ">Save</button>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="modalExample" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <h1>University of Westminster</h1>
                <p>London, England</p>
                <p>March 2002 - April 2002</p>
                <ul>
                    <li>
                        Experienced diverse cultures in thirteen different countries which increased personal
                        sensitivity to communication styles and methods.
                    </li>
                    <li>
                        Collaborated with international students on academic teams building consensus through
                        cross-cultural experiences.
                    </li>
                    <li>
                        Excelled in London Art and Society, European Race and Ethnicity, Business and Social
                        Psychology courses.
                    </li>
                </ul>
                <hr>
                <h1>International Study Program</h1>
                <p>Marbella, Spain</p>
                <p>January 2006 - June 2006</p>
                <ul>
                    <li>
                        Lived with a Spanish-speaking only family for six months which allowed for increased fluency
                        in speaking Spanish.
                    </li>
                    <li>
                        Attended international school daily (8am to 5pm) with thorough curriculum including core
                        classes in math, science, and language arts, as well as cultural enrichment including music,
                        art, computer design, and instrument classes.
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary custombtn w-auto"
                        data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/scripts/overseasstudy/overseasstudy.js"></script>
}