
<style>
    .sidebar{
        display:none
    }
</style>

<form id="FormVoucherVerfication" class="needs-validation formSpace mt-3">
    <div class="form-group">
        <label for="t">
            Voucher
            Code<span class="text-danger">*</span>
        </label>
        <input name="City" id="txtVoucher" type="text" class="form-control"
               value="" required>
    </div>
    <div class="formbtn-Wrapper mt-2">
        <button type="submit" id="btnVeriftVoucher" class="btn btn-primary custombtn w-auto">
           Verify
        </button>
    </div>
    <p>
        Please enter the serial code you received in the email or the code you have from your class.
        If you have not purchased a serial code, please go to <a target="_blank" href="https://www.bestresumebuilder.com/careerresources.htm">www.bestresumebuilder.com</a> and choose Best Resume Builder Products to make your purchase.
    </p>
</form>

@section Scripts{
    <script src="~/scripts/login/login.js"></script>
}