@{
    Layout = null;
}

<h2> Congratulations!</h2>
<h3> Account activation has been successful. </h3>
<p> You will be redirected in 2 seconds.. </p>

<script>
    window.setTimeout(() => {
        window.location = `/Account/Index`;
    }, 2000);
</script>