@{
    Layout = null;
}
@model BusinessObjects.Models.MetaData.UserProfileViewModel
<link rel="stylesheet" href="~/theme/assets/style/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<style>
    .swal-modal .swal-text {
    text-align: left !important;
}
</style>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="~/theme/assets/js/index.js"></script>

<div class="container-fluid signIn-wrapper">
    <div class="row">
        <div class="col-md-6 p-0">
            <div class="sideImg">
                <img src="/theme/assets/images/sign-in.png"  />
            </div>
        </div>
        <div class="col-md-6 p-0">
            <div class="formWrapper signUp-formWrapper">
                <form id="signUpForm" class="needs-validation formSpace" novalidate>
                    <a href="@Url.Action("Index","Account")"><img src="/theme/assets/images/logo.png" /></a>
                    <h1>Create New User Account</h1>
                    <div class="row mt-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom01">First Name <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="validationCustom01" name="FirstName" asp-for="FirstName" placeholder="" required>
                                <span class="field-validation-valid error" asp-validation-for="FirstName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="validationCustom02">Last Name<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="validationCustom02" name="LastName" asp-for="LastName" placeholder="" required>
                                <span class="field-validation-valid error" asp-validation-for="LastName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="email" name="UserName" asp-for="UserName" placeholder="" required>
                                <span class="field-validation-valid error" asp-validation-for="UserName" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Password<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="Password" name="UserPassword" asp-for="UserPassword" placeholder="" required>
                                <span class="field-validation-valid error" asp-validation-for="UserPassword" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Re-enter Password<span class="text-danger">*</span></label>
                                <input type="password" class="form-control" id="CPassword" asp-for="ConfirmPassword" placeholder=" " required>
                                <span class="field-validation-valid error" asp-validation-for="ConfirmPassword" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone" class="">
                                    Cell Phone (preferred) or Home
                                    Phone<span class="text-danger">*</span>
                                </label>
                                <input asp-for="Phone" id="phone" name="Phone" placeholder="xxx-xxx-xxxx"
                                       type="text" class="form-control" pattern="^(\d{10})|(\d{3}-\d{3}-\d{4})$" maxlength="12" required>
                                <span class="field-validation-valid error" asp-validation-for="Phone" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Address">Address<span class="text-danger">*</span></label>
                                <input asp-for="Address1" id="Address" name="Address1" type="text" class="form-control" placeholder="" required>
                                <span class="field-validation-valid error" asp-validation-for="Address1" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="City" class="">City<span class="text-danger">*</span></label>
                                <input asp-for="City" id="City" type="text" name="City" class="form-control" placeholder=" " required>
                                <span class="field-validation-valid error" asp-validation-for="City" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="State" class="">State<span class="text-danger">*</span></label>
                                <select id="ddlStateAbbr" name="StateAbbr" class="form-control" required>
                                </select>
                                <span class="field-validation-valid error" asp-validation-for="StateAbbr" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Code" class="">Zip Code<span class="text-danger">*</span></label>
                                <input asp-for="ZipCode" id="Code" type="text" name="ZipCode" class="form-control" placeholder=" " required>
                                <span class="field-validation-valid error" asp-validation-for="ZipCode" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="formbtn-Wrapper">
                        <button type="button" id="btnCreateUser" class="btn btn-primary custombtn w-auto">Create Account</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.20/lodash.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/scripts/signup/signup.js"></script>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
