@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div class="formWrapper">
        <div class="formSpace">
            <a href="@Url.Action("ProductReport","Admin")" class="btn btn-primary custombtn w-auto mt-2"> Product Report</a>
            <a href="@Url.Action("Voucher","Admin")" class="btn btn-primary custombtn w-auto mt-2"> Add Voucher</a>
        </div>
    </div>
}
